html{
  background-color: #ddf
}
body{
  width: 80%;
  margin: auto;
}
.content{
  background-color: #777;
}
.image{
  background-color: #777;
}
.img{
  text-align: center;
  width: 60%;
  background-color: #777;
}
.text{
  color: #EEF;
  padding: 20px;
  line-height: 40px;
  width: 40%;
  background-color: #777;
}
.info{
  color: #222;
  line-height: 50px;
  text-align: center;
  background-color: #777;
}
footer{
  background-color: #888;
}
.foot{
  width: 50%;
  margin: auto;
}
.foot>.fl{
  width: 33%;
}
