nav{
  background-color: #500;
}
.content{
  background-color: #600;
}
.image{
  background-color: #700;
}
.img{
  width: 60%;
  background-color: #800;
}
.text{
  width: 40%;
  background-color: #900;
}
.info{
  background-color: #a00;
}
footer{
  background-color: #b00;
}
