html{
  background-color: #eff
}
body{
  width: 80%;
  margin: auto;
}
nav{
  background-color: #222
}
.content{
  background-color: #555
}
.left{
  width: 15%;
  background-color: #060;
}
.centre{
  width: 70%;
  background-color: #070;
}
.right{
  width: 15%;
  background-color: #060;
}
.left,
.centre,
.reight{
  height: 100%;
}
.foot{
  width: 60%;
  margin: auto;
}
.foot>.fl{
  width: 33%;
}
footer{
  background: #888
}
.logo{
  background-color: #FFF;
  font-size: 50px;
  font-weight: bold;
  color: #999;
  margin: 5px 0 5px 50px;
}
