html{
  background-color: #ddf
}
body{
  width: 80%;
  margin: auto;
}

.content{
  background-color: #777;
}
.left{
  width: 15%;
  /*background-color: #060;*/
}
.centre{
  width: 70%;
  background-color: #ddf;
}
.centre>div{
  position: relative;
  margin: 5px;
  width: 48%;
}
img{
  width: 100%;
}
.right{
  width: 15%;
  /*background-color: #060;*/
}
.left,
.centre,
.reight{
  height: 100%;
}
.foot{
  width: 50%;
  margin: auto;
}
.foot>.fl{
  width: 33%;
}
.centre p{
  filter: alpha(opacity=60);
  opacity: .6;
  line-height: 40px;
  background-color: #CCC;
  width: 100%;
  position: absolute;
  bottom: 4px;
  text-align: center;
}

.top li{
  border-radius: 10px;;
  background-color: #DDD;
  font-style: italic;
  font-weight: bold;
  color: #FA0;
  margin: 10px 0;
  padding: 0 20px;

}
